<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>user login and Register</title>
  </head>
  <body>
 <h1>Welcome Guys </h1>
</div>
<label>If Registered Please Log in!</label>
<div>
<div><button><a href="{% url 'login_view' %}">Login</a></button></div>
</div>
<label>If not Register here!</label>
<div>
<div><button ><a href="{% url 'register' %}">Register</a></button></div>
</div>
  </body>
</html>